<div class="announcement-bar">
  <p><span class="org-name">Global Telangana Association - Utah Chapter</span>&nbsp;&nbsp;•&nbsp;&nbsp;<span
      class="org-telugu">గ్లోబల్ తెలంగాణ అసోసియేషన్ - ఉటా చాప్టర్</span>&nbsp;&nbsp;•&nbsp;&nbsp;<span
      class="org-nonprofit">501(c)(3) Non-Profit Organization</span></p>
</div>

<header class="header">
  <nav class="nav">

    <ul class="nav-links nav-left">
      <li *ngFor="let item of leftMenuItems">
        <a [routerLink]="item.path" [class.active]="isActive(item.path)">
          {{ item.label }}
        </a>
      </li>
    </ul>

    <a href="index.html" class="logo">
      <img src="../assets/logos/utahchapter-logo.png" alt="GTA Utah Chapter">
    </a>
    <ul class="nav-links nav-right">
      <li *ngFor="let item of rightMenuItems">
        <a [routerLink]="item.path" [class.active]="isActive(item.path)">
          {{ item.label }}
        </a>
      </li>
    </ul>
    <div class="nav-donate">
      <a href="#" class="btn-donate">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
        </svg>
        Donate
      </a>
    </div>
    <!-- <button class="mobile-menu-btn" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button> -->
  </nav>
</header>